# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Redis dump file
dump.rdb

# Virtual environments
venv/
.env

# Node.js
node_modules/

# macOS
.DS_Store

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# Optional: coverage/test reports
.coverage
coverage.xml
htmlcov/

# OS-specific files
Thumbs.db
ehthumbs.db

